@import '_sidebar';

.mickey{
	max-width: 23px;
	margin-left: -8px;
}

.main-header {
	display: inline-block;
}

#clock {
    height: 50px;
}

#page-content-wrapper {
    display: inline-block;
}

#ticker {
	width: 80%;
	margin: 0 auto;
}

#mk{
	max-width:1200px;
}
.magic{
	max-width:150px;
	float: right;
}
